:root {
  --cd-primary: #009ffd;
  --cd-secondary: #ffa400;
  --cd-dark: #232528;
  --cd-white: #f3f3f3;
}

body {
  font-family: 'Raleway', sans-serif !important;
  background: var(--cd-white) !important;
  color: var(--cd-dark) !important;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
