:root {
  --ws-black: #232528;
  --ws-white: #f3f3f3;
  --ws-red: #dc3545;
  --ws-red-hover: #c82333;
}

body {
  background: var(--ws-white) !important;
  color: var(--ws-black) !important;
  font-family: 'Raleway', sans-serif !important;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  letter-spacing: 2px;
}

.text-title {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cart-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qty {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  background: transparent;
  color: var(--ws-black);
  border-radius: 0;
  border: 0.1rem solid var(--ws-black);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.btn-qty {
  padding: 0 0.5rem;
  background: transparent;
  color: var(--ws-black);
  border-radius: 0;
  border: 0.1rem solid var(--ws-black);
  font-size: 1rem;
  text-transform: uppercase;
}
.btn-qty:hover {
  background: var(--ws-black) !important;
  color: var(--ws-white) !important;
}

.cart-icon {
  cursor: pointer;
  color: var(--ws-black);
  font-size: 1.2rem;
}
.cart-icon:hover {
  color: var(--ws-red);
}

.total-container {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

footer {
  margin-top: auto;
  padding: 2rem 0;
  background-color: var(--ws-black);
  color: var(--ws-white);
}